/* ---Components --- */
@import url(components/body-legs.css);
@import url(components/container.css);
@import url(components/eye.css);
@import url(components/keyframes.css);
@import url(components/party-hat.css);
@import url(components/trunk.css);

/* --- Color variables --- */
:root {
    --blue: #81c2c5;
    --grey: #777777;
    --red: #E25178;
    --white: #ffffff;
    --black: #000000;
}

body {
    background: var(--blue);
}