:root {
    --blue: #81c2c5;
    --grey: #777777;
    --red: #E25178;
    --white: #ffffff;
    --black: #000000;
}

body {
    background: var(--blue);
}

.container {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -150px;
    right: 0;
    width: 200px;
    height: 100px;
    transform: rotate(-50deg);
    animation: drop 2.5s 3 cubic-bezier(0.02, 0.01, 0.21, 1);
}

.party-hat {
    position: absolute;
    top: -25px;
    left: 130px;
    width: 110px;
    height: 72px;
    background: var(--red);
    -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: rotate(45deg);
    z-index: 2;
    animation: hatFlip 2.5s 3 cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

.polka {
    position: absolute;
    top: 25px;
    left: 60px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
  }

.polka--one {
    top: 32px;
    left: 42px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
}

.polka--two {
    top: 32px;
    left: 42px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
}

.polka--three {
    top: 48px;
    left: 28px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
}

.polka--four {
    top: 68px;
    left: 48px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
}

.polka--five {
    top: 48px;
    left: 67px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
}

.polka--six {
    top: 66px;
    left: 20px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--white);
}

.trunk {
    width: 90px;
    height: 150px;
    background: var(--grey);
    -webkit-clip-path: polygon(57% 0, 64% 48%, 100% 100%, 42% 81%, 0% 50%, 0 0);
    clip-path: polygon(57% 0, 64% 48%, 100% 100%, 42% 81%, 0% 50%, 0 0);
    transform: rotate(65deg);
}

.behind {
    position: absolute;
    width: 152px;
    height: 152px;
    border-radius: 100%;
    background: var(--grey);
    top: -3px;
    left: 45px;
    z-index: 1;
}

/* .ear {
    position: absolute;
    width: 60px;
    height: 90px;
    border-radius: 100%;
    background: var(--grey);
    opacity: 0.85;
    top: 69px;
    left: 80px;
} */

.eye {
    width: 50px;
    height: 60px;
    background: var(--white);
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 4;
}

.iris {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: var(--black);
    z-index: 5;
}

.body {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: var(--grey);
}

.leg {
    position: absolute;
    top: 140px;
    left: 40px;
    width: 20px;
    height: 40px;
    background: var(--grey);
    transform: rotate(80deg);
}

.leg--right {
    position: absolute;
    top: 180px;
    left: 76px;
    width: 20px;
    height: 40px;
    background: var(--grey);
    transform: rotate(50deg);
}

@keyframes drop {
    50% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        transform: translateY(-100px);
    }
}

@keyframes hatFlip {
    50% {
      animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
      transform: translateY(-100px);
    }
}




